# classes
bin/

# IDE files
.classpath
.project
.settings

# Intellij IDEA files
.idea
**/*.iml
out/

# macos files
*.DS_Store

# Rust stuff
**/Cargo.lock
**/*.rs.bk
.cargo/

# Maven target
target/

*.log

### Java template
# Compiled class file
*.class

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# jenv configuration file
**/.java-version
