language: java
dist: trusty
jdk:
  - openjdk8
  - openjdk10
sudo: false

addons:
  apt:
    sources:
      - sourceline: 'ppa:chris-lea/libsodium'
    packages:
      - build-essential
      - libsodium-dev
      - libssl-dev
      - pkg-config

env:
  global:
    - RUST_COMPILER_VERSION=1.26.2
    - RUST_NIGHTLY_VERSION=nightly-2018-06-29
    - RUST_CLIPPY_VERSION=0.0.211
    - EJB_RUST_BUILD_DIR="$TRAVIS_BUILD_DIR/exonum-java-binding-core/rust/"
    # force building instead of using from apt.
    - ROCKSDB_BUILD=1
    - SNAPPY_BUILD=1
  matrix:
    - CHECK_RUST=true
    - CHECK_RUST=false

# exclude rust code checks with jdk10
matrix:
  exclude:
  - jdk: openjdk10
    env: CHECK_RUST=true

cache:
  directories:
    - "$HOME/.cargo"
    - "$HOME/.m2"

before_install:
  # Skip the build if only md files were updated.
  - source skip-ci.sh
  - export PATH="$PATH":"$HOME/.cargo/bin"
  # Install rustup if it's not already installed (i.e., not in CI cache).
  - which rustup > /dev/null || curl https://sh.rustup.rs -sSf | sh -s -- -y --default-toolchain "$RUST_COMPILER_VERSION"
  # List all installed cargo packages.
  - cargo install --list

install: true  # Skip the installation step, as Maven requires
               # several extra properties when run on a CI server (see below).
script:
  - cd "$TRAVIS_BUILD_DIR"
  - .travis/run_travis_job.sh
  # Check silently for updates of dependencies
  - mvn versions:display-property-updates versions:display-dependency-updates | grep '\->' --context=3 || true

notifications:
  slack:
    secure: m9GypuiO7oTg5/PoPfYvJRsx2x44q+TwBzLaDQegJZOhP6vNUrLHV06wCMund2SqVG3EwQkaVP4L0DmDLPFd/i+SXRPK0BUC+1G4HTp/VllmtkrebePqtlaXTrkJDHpxKLafaOOZd948LqsGs+PKehbKU5FJGeUcNgtsqkE/LZ4F9GgrWgQzh5qNrPK/dCS+svwiNSICJOtMp5rG84LAbCLHLMS9lII1Mo/ELsIsZ1OreHZjfcweQ/Br5vIqlH14s98y4CaZhvHy3F1KsP00HCltA4sQSokiMLh2wWlxtjY5bCP6tAUY3CP6sYDHE4WoRc2zu2RCo+D7J0N2i8y/KbuduCqXVnFv9vIc311DrkfazFV1WvJkND9h8RyNA73ZdhTCRAXGECTgxqr1HYPzk0Ox9D0jcPW/6uJOdYGfG+UwYTqbHL9bEsc6RW5hw+siyA5bcgZ+Ah8njzrc6Z+09CQnNqqfF6KbQoqUl9VipYWSomBMVA6SCaWVFXN7b/OnEkNWPj+GlPDkSEqH8cFHVJYD0AZ0V9TdwXNheyIc7Aq7E9eiR7g+OOnKPBC2sJaa04Ae+Q5nWPk3/UtZplg3lJTIqe3NgkNI5bIo0XzKA+xFpNIWbJnWko4oFwjFdfmgTuyyI76sVQNwxwfaUQfr6BtUyELrtwt4eM17BmB9Crk=
