[package]
name = "integration_tests"
version = "0.1.0"
authors = ["Exonum Team <exonum@bitfury.com>"]
publish = false
workspace = ".."

[features]

[dependencies]
exonum = "0.5.1"
java_bindings = { path = ".." }
jni = { version = "0.9.3", features = ["invocation"] }
lazy_static = "1"
