<?xml version="1.0" encoding="UTF-8"?>
<!-- A simple configuration to be used along with EJB App.
     Error log entries go to stdout, which cargo prints only in case of failures. -->
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- Use DEBUG level by default, since Cargo prints the stdout output only
             in case of failures, when you might enjoy extra logs. -->
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
