[package]
name = "java_bindings"
version = "0.8.0-SNAPSHOT"
authors = ["Exonum Team <exonum@bitfury.com>"]

[workspace]
members = ["integration_tests", "exonum-java"]

[lib]
crate-type = ["dylib"]

[features]
# Enables native handles checking. Useful for debugging.
resource-manager = []
invocation = ["jni/invocation"]

[dependencies]
exonum-time = "0.11"
exonum-testkit = "0.11"
chrono = "0.4.7"
failure = "0.1.1"
toml = "0.5"
jni = { version = "0.13.0", features = ["invocation"] }
lazy_static = "1.3.0"
log = "0.4.1"
parking_lot = "0.6"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0.40"

[dependencies.exonum]
# FIXME: using git dependency until new Exonum with MerkleDB will be released
git = "https://github.com/exonum/exonum"
rev = "7daf2dadfab6f7a289046fd28aca7f210a693383"
version = "0.11"
features = ["rocksdb_snappy", "rocksdb_lz4", "rocksdb_zlib", "rocksdb_bzip2"]

[dev-dependencies]
tempfile = "3"

[profile.dev]
rpath = true

[profile.release]
rpath = true
