[package]
name = "java_bindings"
version = "0.7.0-SNAPSHOT"
authors = ["Exonum Team <exonum@bitfury.com>"]

[workspace]
members = ["integration_tests", "exonum-java"]

[lib]
crate-type = ["dylib"]

[features]
# Enables native handles checking. Useful for debugging.
resource-manager = []
invocation = ["jni/invocation"]

[dependencies]
exonum = "0.11"
exonum-time = "0.11"
exonum-testkit = "0.11"
chrono = "0.4.7"
failure = "0.1.1"
toml = "0.4.6"
jni = { git = "https://github.com/vitvakatu/jni-rs", branch = "auto-detach-threads", version = "0.12.3", features = ["invocation"] }
lazy_static = "1.3.0"
log = "0.4.1"
parking_lot = "0.6"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0.40"

[dev-dependencies]
tempfile = "3"

[profile.dev]
rpath = true

[profile.release]
rpath = true
