[package]
name = "java_bindings"
version = "0.9.0-SNAPSHOT"
authors = ["Exonum Team <contact@exonum.com>"]

[workspace]
members = ["integration_tests", "exonum-java"]

[lib]
crate-type = ["dylib"]

[features]
# Enables native handles checking. Useful for debugging.
resource-manager = []
invocation = ["jni/invocation"]

[dependencies]
chrono = "0.4.9"
exonum = { version = "0.12", features = ["rocksdb_snappy", "rocksdb_lz4", "rocksdb_zlib", "rocksdb_bzip2"] }
exonum-cli = "0.12"
exonum-derive = "0.12"
exonum-proto = "0.12"
exonum-testkit = "0.12"
exonum-time = "0.12"
failure = "0.1.6"
futures = "0.1.25"
jni = { version = "0.14.0", features = ["invocation"] }
lazy_static = "1.3.0"
log = "0.4.8"
parking_lot = "0.6"
protobuf = { version = "2.8.0", features = ["with-serde"] }
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0.41"
structopt = "0.3.2"
toml = "0.5"

[dev-dependencies]
tempfile = "3"

[build-dependencies]
exonum-build = { version = "0.12" }

[profile.dev]
rpath = true

[profile.release]
rpath = true

# FIXME: using git dependency until new Exonum with dynamic services will be released
[patch.crates-io]
exonum = { git = "https://github.com/exonum/exonum", rev = "d6144a4df4" }
exonum-testkit = { git = "https://github.com/exonum/exonum", rev = "d6144a4df4" }
exonum-time = { git = "https://github.com/exonum/exonum", rev = "d6144a4df4" }
exonum-build = { git = "https://github.com/exonum/exonum", rev = "d6144a4df4" }
exonum-derive = { git = "https://github.com/exonum/exonum", rev = "d6144a4df4" }
exonum-cli = { git = "https://github.com/exonum/exonum", rev = "d6144a4df4" }
exonum-proto = { git = "https://github.com/exonum/exonum", rev = "d6144a4df4" }
exonum-supervisor = { git = "https://github.com/exonum/exonum", rev = "d6144a4df4" }
