node_modules/
npm-debug.log*
/dist/
/build/

# The directory in which npm & node are downloaded by the Maven frontend plugin.
# It is not in 'target' so that 'mvn clean' does not remove it and the local builds 
# don't need to download the npm & nodejs after each of your clean.
/node/
